<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="apps-browsers" label="Web">
  <item label="Firefox">
    <action name="Execute">
      <command>firefox</command>
    </action>
  </item>
  <item label="Epiphany">
    <action name="Execute">
      <command>epiphany</command>
    </action>
  </item>

  <separator/>
  
  <item label="Slack: Soozy">
    <action name="Execute">
      <command>firefox "https://soozy.slack.com"</command>
    </action>
  </item>

  <item label="FeedReader">
    <action name="Execute">
      <command>firefox "https://feedbin.com"</command>
    </action>
  </item>

  <item label="Scrapbox">
    <action name="Execute">
      <command>epiphany --application-mode --profile="/home/nyarla/.local/share/epiphany-scrapbox.io-88829e3feb6c6bf956faa126c15b232beec93619" https://scrapbox.io/nyarla/</command>
    </action>
  </item>
  
  <separator />
  
  <item label="UGet">
    <action name="Execute">
      <command>uget-gtk</command>
    </action>
  </item>
</menu>

<menu id="apps-multimedia" label="Multimedia">
  <item label="Files">
    <action name="Execute">
      <command>caja</command>
    </action>
  </item>
  <item label="Documents">
    <action name="Execute">
      <command>atril</command>
    </action>
  </item>

  <item label="Music">
    <action name="Execute">
      <command>deadbeef</command>
    </action>
  </item>
  <item label="Video">
    <action name="Execute">
      <command>vlc</command>
    </action>
  </item>
  <item label="eBooks">
    <action name="Execute">
      <command>calibre</command>
    </action>
  </item>

  <separator />

  <item label="Kindle">
    <action name="Execute">
      <command>~/local/wine/Kindle/bin/wine 'C:\Program Files\Amazon\Kindle\Kindle.exe'</command>
    </action>
  </item>

  <item label="mp3tags">
    <action name="Execute">
      <command>~/local/wine/mp3tag/bin/wine 'C:\Program Files\Mp3tag\Mp3tag.exe'</command>
    </action>
  </item>
</memu>

<menu id="apps-vm" label="VM">
  <item label="Virt Manager">
    <action name="Execute">
      <command>virt-manager</command>
    </action>
  </item>
  <item label="Windows 10 Pro">
    <action name="Execute">
      <command>env GDK_SCALE=1 GDK_DPI_SCALE=1 virt-manager -c qemu:///system --show-domain-console Win10Pro</command>
    </action>
  </item>
</menu>

<menu id="apps-office" label="Office">
  <item label="Text">
    <action name="Execute">
      <command>pluma</command>
    </action>
  </item>

  <item label="Calculator">
    <action name="Execute">
      <command>mate-calculator</command>
    </action>
  </item>

  <item label="Chars">
    <action name="Execute">
      <command>gucharmap</command>
    </action>
  </item>

  <separator />

  <item label="Screencast">
    <action name="Execute">
      <command>peek</command>
    </action>
  </item>

  <item label="Presentation">
    <action name="Execute">
      <command>com.github.philip-scott.spice-up</command>
    </action>
  </item>

  <separator />

  <item label="Gimp">
    <action name="Execute">
      <command>gimp</command>
    </action>
  </item>
  <item label="Inkscape">
    <action name="Execute">
      <command>inkscape</command>
    </action>
  </item>
</menu>

<menu id="system-utilities" label="Utilities">
  <item label="System Monitor">
    <action name="Execute">
      <command>lxtask</command>
    </action>
  </item>

  <separater />

  <item label="Audio">
    <action name="Execute">
      <command>pavucontrol</command>
    </action>
  </item>
  <item label="Network">
    <action name="Execute">
      <command>connman-gtk</command>
    </action>
  </item>
  <item label="Bluetooth">
    <action name="Execute">
      <command>blueman-manager</command>
    </action>
  </item>

  <separator />

  <item label="Appearance">
    <action name="Execute">
      <command>lxappearance</command>
    </action>
  </item>
  <item label="Theme">
    <action name="Execute">
      <command>obconf</command>
    </action>
  </item>

  <separator />

  <item label="Veracrypt">
    <action name="Execute">
      <command>veracrypt</command>
    </action>
  </item>
</menu>

<menu id="dynamic-tasklist" label="Tasks" execute="perl /etc/nixos/scripts/openbox-windows-list.pl" />

<menu id="system-actions" label="System">
  <item label="Reconfigure">
    <action name="Reconfigure" />
  </item>
  <separator />
  <item label="Lock">
    <action name="Execute">
      <command>dm-tool switch-to-greeter</command>
    </action>
  </item>
  <separator />
  <item label="Logout">
    <action name="Exit" />
  </item>
  <item label="Reboot">
    <action name="Execute">
      <command>systemctl reboot</command>
    </action>
  </item>
  <item label="Shutdown">
    <action name="Execute">
      <command>systemctl poweroff</command>
    </action>
  </item>
</menu>

<menu id="apps-main" label="Main">
  <item label="Terminal">
    <action name="Execute">
      <command>mlterm</command>
    </action>
  </item>
  <item label="Web Browser">
    <action name="Execute">
      <command>firefox</command>
    </action>
  </item>
  <item label="Email">
    <action name="Execute">
      <command>firefox "http://gmail.com"</command>
    </action>
  </item>
  <item label="Encryption">
    <action name="Execute">
      <command>veracrypt</command>
    </action>
  </item>
</menu>


<menu id="root-menu" label="Applications">
  <menu id="apps-main" />
  <menu id="dynamic-tasklist" />
  <separator />
  <menu id="apps-browsers"/>
  <menu id="apps-multimedia"/>
  <menu id="apps-office"/>
  <menu id="system-utilities"/>
  <separater />
  <menu id="apps-vm"/>
  <separator />
  <menu id="system-actions"/>
</menu>
</openbox_menu>
