<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
  <menu id="apps-music" label="Music">
    <item label="Bitwig Studio">
      <action name="Execute">
        <command>bash ~/local/dotfiles/bin/bitwig-studio</command>
      </action>
    </item>
    <item label="QJackctl">
      <action name="Execute">
        <command>qjackctl</command>
      </action>
    </item>
    <item label="Carla">
      <action name="Execute">
        <command>carla</command>
      </action>
    </item>
  </menu>

  <menu id="system" label="System">
    <item label="LXApperance">
      <action name="Execute">
        <command>lxappearance</command>
      </action>
    </item>
    <item label="Obconf">
      <action name="Execute">
        <command>obconf</command>
      </action>
    </item>
    <item label="Reconfigure">
      <action name="Reconfigure"/>     
    </item>
    <separator />
    <item label="Exit">
      <action name="Exit">
        <prompt>yes</prompt>
      </action>
    </item>
  </menu>

  <menu id="root-menu" label="Applications">
    <menu id="apps-music" />
    <menu id="system"/>
  </menu>
</openbox_menu>
