<?xml version="1.0" encoding="UTF-8" ?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
  <menu id="application-web" label="Web">
    <item label="Firefox">
      <action name="Execute">
        <command
        >perl /home/nyarla/.config/openbox/bin/window-activate firefox &#39;Firefox$&#39;</command>
      </action>
    </item>

    <item label="Google Chrome">
      <action name="Execute">
        <command
        >perl /home/nyarla/.config/openbox/bin/window-activate google-chrome-stable &#39;^google-chrome&#39;</command>
      </action>
    </item>
    
    <item label="Thunderbird">
      <action name="Execute">
        <command
        >perl /home/nyarla/.config/openbox/bin/window-activate thunderbird &#39;Thunderbird$&#39;</command>
      </action>
    </item>

    <item label="Bitwarden">
      <action name="Execute">
        <command>bitwarden</command>
      </action>
    </item>
  </menu>

  <menu id="application-files" label="Files">
    <item label="Caja">
      <action name="Execute">
        <command>caja</command>
      </action>
    </item>
    <item label="Atril">
      <action name="Execute">
        <command>atril</command>
      </action>
    </item>
    <item label="Pluma">
      <action name="Execute">
        <command>pluma</command>
      </action>
    </item>
  </menu>

  <menu id="application-multimedia" label="Multimedia">
    <item label="Calibre">
      <action name="Execute">
        <command>calibre</command>
      </action>
    </item>
    <item label="QuodLibet">
      <action name="Execute">
        <command>quodlibet</command>
      </action>
    </item>
    <item label="Picard">
      <action name="Execute">
        <command>picard</command>
      </action>
    </item>
    <separator/>
    <item label="Kindle">
      <action name="Execute">
        <command>/home/nyarla/local/bin/kindle</command>
      </action>
    </item>
  </menu>

  <menu id="application-office" label="Office">
        <item label="Spice up">
      <action name="Execute">
        <command>com.github.philip-scott.spice-up</command>
      </action>
    </item>
        <item label="Simple Scan">
      <action name="Execute">
        <command>simple-scan</command>
      </action>
    </item>
        <itemu label="GIF Capture">
      <action name="Execute">
        <command>peek</command>
      </action>
    </item>
    <separator />
    <item label="Gimp">
      <action name="Execute">
        <command>gimp</command>
      </action>
    </item>
    <item label="Inkscape">
      <action name="Execute">
        <command>inkscape</command>
      </action>
    </item>
    <separator />
    <item label="Calcurator">
      <action name="Execute">
        <command>mate-calc</command>
      </action>
    </item>
    <item label="Charactar Map">
      <action name="Execute">
        <command>gucharmap</command>
      </action>
    </item>
  </menu>

  <menu id="system-utilities" label="Utilities">
    <item label="Audio">
      <action name="Execute">
        <command>pavucontrol</command>
      </action>
    </item>
    <item label="Bluetooth">
      <action name="Execute">
        <command>blueman-manager</command>
      </action>
    </item>
    <item label="Network">
      <action name="Execute">
        <command>connman-gtk</command>
      </action>
    </item>
  </menu>

  <menu id="system-actions" label="Actions">
    <item label="Reconfigure">
      <action name="Reconfigure" />
    </item>
    <separator />
    <item label="Lock">
      <action name="Execute">
        <command>dm-tool switch-to-greeter</command>
      </action>
    </item>
    <item label="Exit">
      <action name="Exit" />
    </item>
    <item label="Reboot">
      <action name="Execute">
        <command>systemctl reboot</command>
      </action>
    </item>
    <item label="Shutdown">
      <action name="Execute">
        <command>systemctl shutdown</command>
      </action>
    </item>
  </menu>

  <menu id="application-main" label="Main">
    <item label="mlterm">
      <action name="Execute">
        <command>bash /home/nyarla/.config/openbox/bin/mlterm</command>
      </action>
    </item>
    <item label="notes">
      <action name="Execute">
        <command>bash /home/nyarla/.config/openbox/bin/edit-notes</command>
      </action>
    </item>
    <item label="virt-manager">
      <action name="Execute">
        <command>virt-manager</command>
      </action>
    </item>
  </menu>

  <menu
    id="dynamic-tasklist"
    label="Tasks"
    execute="perl /home/nyarla/.config/openbox/bin/window-list"
  />

  <menu id="root-menu" label="NyZen9">
    <menu id="application-main" />
    <menu id="application-files" />
    <separator />
    <menu id="application-web" />
    <menu id="application-multimedia" /> 
    <separator />
    <menu id="application-office" />
    <separator />
    <menu id="dynamic-tasklist" /> 
    <separator />
    <menu id="system-utilities" />
    <menu id="system-actions" />
  </menu>
</openbox_menu>
